# numpy before other packages to ensure compatibility
numpy==1.26.3

# core packages
pandas==2.2.0

# additional packages
openpyxl>=3.1.2
pyproj>=3.7.1
pytest>=8.3.3 
rasterio>=1.3.8
requests>=2.32.3
